.header{
   display: flex;
   align-items: center;
   height: 160px;
   //border: 1px solid red;
   &__logo{
      height: 80px;
      margin-right: 10px;
   }
   &__description{
      color: #e6e6e6;
      font-size: 13px;
      width: 260px;
      letter-spacing: 1px;
      //border: 1px solid red;
      &-span{
         color: $colorGreen;
         font-size: 14px;
      }
   }
}

@media screen and (max-width:1440px){}
@media screen and (max-width:1232px){}
@media screen and (max-width:1024px){}
@media screen and (max-width:896px){
   .header{
      height: 150px;
      &__logo{
         height: 70px;
      }
   }
}
@media screen and (max-width:768px){}
@media screen and (max-width:624px){}
@media screen and (max-width:480px){
   .header{
      height: 140px;
      &__logo{
         height: 60px;
      }
      &__description{
         font-size: 12px;
         width: 240px;
      }
   }
}
@media screen and (max-width:400px){
   .header{
      height: 130px;
      &__logo{
         height: 50px;
      }
      &__description{
         width: 200px;
      }
   }
}
@media screen and (max-width:360px){}